# Goto forward for one page width. (can be prefixed with a number)
# (note that going forward for one page width is not usually what you want because if
# the page is larger than the screen you will miss some content. What you usually want is screen_down)
next_page <J>
next_page <]>
previous_page <K>
previous_page <[>
fit_to_page_height   <C-h>
fit_to_page_height_smart   <C-S-h>
reload <C-r>
#goto_toc t
